.feature-heading{
    color: var(--blue);
    font-size: 2vw;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
}

.fe-data{
    margin-top: 1vh;
    display: flex;
    justify-content:space-evenly;
}