.product-heading{
    height: 10vh;
    color: var(--blue);
    font-weight: bold;
    font-size: 2vw;
text-align: center;}

.all-items-section{
    display: flex;
    gap: 4%;
}

.divider{
    color: var(--blue);
}