.bottom-icons{
    display: flex;
    gap: 3vw;
    height: 10vh;
    padding-left: 15vw;
    align-items: center;

}
.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tag{
    padding-right: 1vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: gray;

    
}


